@using OperationalWorkspaceUI.Models.Constant
@using OperationalWorkspaceUI.State
@using OperationalWorkspaceUI.UIServices.System
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons

@implements IDisposable
@inject NavigationManager Nav
@inject NavigationService NavService
@inject DashboardState DashboardState

<div class="sage-sidebar">
    @* FIXED: Height and icon size matched to Topbar *@
    <div class="sidebar-header">
        @* Only the icon remains here; the text is now in the Topbar *@
        <FluentIcon Value="@(new Icons.Regular.Size16.LineHorizontal3())"
                    Color="@Color.Fill"
                    Style="cursor: pointer;" />
    </div>

        <nav class="nav-menu">
            <FluentNavLink Icon="@(new Icons.Regular.Size16.Board())" Href="@AppRoutes.Dashboard" Match="NavLinkMatch.All">Dashboard</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size16.Person())" Href="@AppRoutes.BusinessPartners">Contacts</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size16.TicketDiagonal())" Href="@AppRoutes.Tickets">Tickets</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size16.DataUsage())" Href="@AppRoutes.Activity">Activities</FluentNavLink>

            <div class="sidebar-divider"></div>

            <FluentNavLink Icon="@(new Icons.Regular.Size16.Cart())" Href="@AppRoutes.Orders">Sales Orders</FluentNavLink>
    
            <div class="sidebar-divider"></div>

            <FluentNavLink Icon="@(new Icons.Regular.Size16.Library())" Href="@AppRoutes.Knowledge">Knowledge Base</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size16.CheckmarkCircle())" Href="@AppRoutes.Tasks">My Tasks</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size16.Book())" Href="@AppRoutes.Attachments">Documents</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size16.DocumentText())" Href="@AppRoutes.Quotes">Quotes</FluentNavLink>


            <div class="group-title">Administration</div>
            <FluentNavLink Icon="@(new Icons.Regular.Size16.ShieldSettings())" Href="@AppRoutes.Administration">Admin</FluentNavLink>

       

           
        </nav>

 

    <div class="sidebar-footer">
        <FluentNavLink Icon="@(new Icons.Regular.Size16.Settings())" Href="@AppRoutes.Settings">Settings</FluentNavLink>
    </div>
</div>

@code {
    protected override void OnInitialized() => DashboardState.OnChange += StateHasChanged;
    public void Dispose() => DashboardState.OnChange -= StateHasChanged;
}
